# Question: Based on the learning today about correlation. Find out correlation between attrition and other variables Like Age, Monthly Income etc. Form the hypothesis find correlation r and p value using python and specified module and methods.

In [25]:
import pandas as pd
from scipy.stats import pearsonr
import matplotlib.pyplot as plt
df = pd.read_csv('E:\Riyaz\LetsUpgrade-AI-ML\Code\general_data.csv').dropna()

In [26]:
df["Attrition"].replace(to_replace=("No","Yes"),value=(0,1),inplace=True)

In [27]:
df["Gender"].replace(to_replace=("Male","Female"),value=(0,1),inplace=True)

In [28]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,0,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,0,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,0,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,1,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,1,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,0,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,0,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,0,...,0.0,Y,14,8,1,10.0,2,9,7,8

## Correlation between Attrition and Monthly Income

In [29]:
stats, p = pearsonr(df.MonthlyIncome, df.Attrition)
stats, p

(-0.030160293808460678, 0.045890862744719166)

## Correlation between Attrition and Age

In [30]:
corr, _ = pearsonr(df.Attrition, df.Age)
corr, _

(-0.1583986795409671, 5.1265982193780794e-26)

## Correlation between Attrition and Education

In [31]:
x, y = pearsonr(df.Attrition, df.Education)
x, y

(-0.017106307050278706, 0.25757539308157945)

## Correlation between Attrition and Gender

In [32]:
pyu, kyu = pearsonr(df.Attrition, df.Gender)
pyu, kyu

(-0.01839642519444087, 0.22339966086825902)

## Correlation between Attrition and Distance from  home

In [33]:
tri, p = pearsonr(df.Attrition, df.DistanceFromHome)
tri, p

(-0.009448638515156258, 0.5317715668019558)

## Correlation between Attrition and Years with current manager

In [34]:
k, j = pearsonr(df.Attrition, df.YearsWithCurrManager)
k, j

(-0.15469153690287285, 7.105369646772844e-25)

## Correlation between Attrition and Number of Companies Worked

In [35]:
stat, r = pearsonr(df.Attrition, df.NumCompaniesWorked)
stat, r

(0.04283056724472085, 0.004572057121620842)

## Correlation between Attrition and Years since last promotion

In [36]:
stats, p = pearsonr(df.Attrition, df.YearsSinceLastPromotion)
stats, p

(-0.03142315056330984, 0.03752293607394267)

## Correlation between Attrition and Number of Percentage Salary Hike

In [37]:
corr, _ = pearsonr(df.Attrition, df.PercentSalaryHike)
corr, _

(0.03315303713546657, 0.028192446935112747)

## Correlation between Attrition and Number of Total Working Years

In [38]:
corr, _ = pearsonr(df.Attrition, df.TotalWorkingYears)
corr, _

(-0.16966991684723914, 1.1645434967091854e-29)